<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.gpessoal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContatosActivity"
            android:label="Contatos" >
        </activity>
        <activity
            android:name=".NovoCompromissoActivity"
            android:label="Novo Compromisso" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".EditarCompromissoActivity"
            android:label="Editar Compromisso" >
        </activity>
        <activity
            android:name=".DetalhesContatosActivity"
            android:label="@string/title_activity_detalhes_contatos" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".DetalhesCompromissosActivity"
            android:label="@string/title_activity_detalhes_compromissos" >
           <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".EmpresaActivity"
            android:label="@string/title_activity_empresa" >
           <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>